@font-face {
  font-family: Norse-bold;
  src: url(fonts/Norse-Bold.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.left-side,
img {
  width: max(450px, 35vw);
  height: 100%;
  position: relative;
}

.right-side {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(245, 245, 245);
}

img {
  object-fit: cover;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Norse-bold;
  color: white;
  position: absolute;
  top: 25%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.odin-logo {
  object-fit: cover;
  width: 125px;
}

.logo p {
  font-size: 10rem;
}

.footer {
  width: 100%;
  text-align: center;
  position: absolute;
  color: white;
  bottom: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.footer,
.footer a {
  font-size: 1.6rem;
  color: white;
  text-decoration: none;
}

.footer a {
  text-decoration: underline;
}

.right-side > .text-content {
  padding: 13.5rem 0rem 0 5rem;
}

.right-side p,
i,
h2 {
  font-size: 2.2rem;
  width: 80%;
  font-weight: bold;
  margin-bottom: 3rem;
  padding-right: 1rem;
}

form {
  display: flex;
  gap: 6rem;
}

form span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  margin-top: 4px;
}
.form-container {
  background-color: white;
  width: 100%;
  padding: 1.8rem 0 1.8rem 5rem;
  box-shadow: 0px 0px 5px 0px rgba(200, 200, 200, 1);
}

.form-container form input {
  font-size: 1.8rem;
  padding: 0.4rem 1rem;
}

label {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: rgb(83, 83, 83);
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
  width: max(200px, 18vw);
}

input {
  border: 1px solid #e5e7eb;
  border-radius: 4px;
}
input:focus {
  outline: none;
  border: 1px solid blue;
  box-shadow: 1px 1px 5px 0px rgba(200, 200, 200, 1);
}

input[type="password"]:invalid {
  border: 1px solid red;
}
input:focus:invalid {
  border: 1px solid red;
}
.button-container {
  margin: 3rem 5rem;
}

button {
  background-color: #596d48;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 1.8rem;
  padding: 1.4rem 5rem;
  border-radius: 8px;
  box-shadow: 5px 5px 10px 0px rgba(200, 200, 200, 1);
  cursor: pointer;
}

.button-container p,
.button-container span {
  font-weight: normal;
  font-size: 1.6rem;
  margin-top: 3.5rem;
}

span.log-in {
  color: #596d48;
  font-weight: bold;
}

.invalid {
  color: red;
}
.valid {
  color: green;
}
